<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.commutebot.morning</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>/Users/jimyungpark/Library/Application Support/CommuteBot/run_commutebot.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/private/tmp</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>6</integer>
			<key>Minute</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>7</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>7</integer>
			<key>Minute</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
			<key>Minute</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/jimyungpark/Library/Logs/CommuteBot/morning.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/jimyungpark/Library/Logs/CommuteBot/morning.stderr.log</string>
	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
